<?xml version="1.0"?>
<config>
    <modules>
        <Webgriffe_Multiwarehouse>
            <version>0.1.4</version>
        </Webgriffe_Multiwarehouse>
    </modules>
    <global>
        <models>
            <wgmulti>
                <class>Webgriffe_Multiwarehouse_Model</class>
                <resourceModel>wgmulti_resource</resourceModel>
            </wgmulti>
            <wgmulti_resource>
                <class>Webgriffe_Multiwarehouse_Model_Resource</class>
                <entities>
                    <warehouse>
                        <table>wg_warehouse</table>
                    </warehouse>
                    <warehouse_product>
                        <table>wg_warehouse_product</table>
                    </warehouse_product>
                </entities>
            </wgmulti_resource>
        </models>
        <blocks>
            <wgmulti>
                <class>Webgriffe_Multiwarehouse_Block</class>
            </wgmulti>
        </blocks>
        <helpers>
            <wgmulti>
                <class>Webgriffe_Multiwarehouse_Helper</class>
            </wgmulti>
        </helpers>
        <resources>
            <wgmulti_setup>
                <setup>
                    <module>Webgriffe_Multiwarehouse</module>
                </setup>
            </wgmulti_setup>
        </resources>
    </global>
    <admin>
        <routers>
            <wgmulti>
                <use>admin</use>
                <args>
                    <module>Webgriffe_Multiwarehouse</module>
                    <frontName>wgmulti</frontName>
                </args>
            </wgmulti>
        </routers>
    </admin>
    <adminhtml>
        <events>
            <catalog_product_save_after>
                <observers>
                    <webgriffe_multiwarehouse>
                        <type>singleton</type>
                        <class>wgmulti/observer</class>
                        <method>handleMultipleQuantitiesPost</method>
                    </webgriffe_multiwarehouse>
                </observers>
            </catalog_product_save_after>
        </events>
        <layout>
            <updates>
                <wgmulti>
                    <file>webgriffe/multiwarehouse/layout.xml</file>
                </wgmulti>
            </updates>
        </layout>
    </adminhtml>
    <frontend>
        <events>
            <sales_model_service_quote_submit_success>
                <observers>
                    <webgriffe_multiwarehouse>
                        <type>singleton</type>
                        <class>wgmulti/observer</class>
                        <method>decrementQuantities</method>
                    </webgriffe_multiwarehouse>
                </observers>
            </sales_model_service_quote_submit_success>
        </events>
    </frontend>
</config>